<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.Authority">
    <!--@mbg.generated-->
    <!--@Table t_authority-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="authority_name" jdbcType="VARCHAR" property="authorityName" />
    <result column="authority_code" jdbcType="VARCHAR" property="authorityCode" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, authority_name, authority_code, uri, menu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_authority
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_authority
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shr.translationtoolservice.entity.Authority">
    <!--@mbg.generated-->
    insert into t_authority (id, authority_name, authority_code, 
      uri, menu_id)
    values (#{id,jdbcType=VARCHAR}, #{authorityName,jdbcType=VARCHAR}, #{authorityCode,jdbcType=VARCHAR}, 
      #{uri,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shr.translationtoolservice.entity.Authority">
    <!--@mbg.generated-->
    insert into t_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="authorityName != null">
        authority_name,
      </if>
      <if test="authorityCode != null">
        authority_code,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="authorityName != null">
        #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityCode != null">
        #{authorityCode,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shr.translationtoolservice.entity.Authority">
    <!--@mbg.generated-->
    update t_authority
    <set>
      <if test="authorityName != null">
        authority_name = #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityCode != null">
        authority_code = #{authorityCode,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shr.translationtoolservice.entity.Authority">
    <!--@mbg.generated-->
    update t_authority
    set authority_name = #{authorityName,jdbcType=VARCHAR},
      authority_code = #{authorityCode,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByRoleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_authority
    where id in (select authority_id from t_role_authority where role_id = #{roleId,jdbcType=VARCHAR})
  </select>
</mapper>