<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.ConfigManageMapper">
  <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.ConfigResUser">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_number" jdbcType="VARCHAR" property="jobNumber" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, job_number, department, role_id
  </sql>
  <select id="querUser"  resultMap="BaseResultMap">
    select t1.id,t1.user_name ,t1.job_number ,t1.department ,t2.role_name ,t2.describe,t2.is_default ,t1.role_id from t_user t1  join  t_role  t2 on  1=1
    <if test="user.userName != null and user.userName != ''">
     and
      user_name=  #{user.userName,jdbcType=VARCHAR}
    </if>
    <if test="user.jobNumber != null and user.jobNumber != ''">
      and
      job_number=  #{user.jobNumber,jdbcType=VARCHAR}
    </if>
    <if test="user.department != null and user.department != ''">
      and
      department=  #{user.department,jdbcType=VARCHAR}
    </if>
    <if test="user.roleId != null and user.roleId != ''">
      and

    role_id=  #{user.roleId,jdbcType=VARCHAR}

    </if>
    and
    t1.role_id=t2.id

  </select>



  <delete id="deleteUserInfoByList" parameterType="java.util.List">
    DELETE FROM t_user WHERE id in(
    <foreach collection="list" item="idList" index="index" separator=",">
      #{idList,jdbcType=VARCHAR}
    </foreach>
    );
  </delete>

  <update id="changeUserInfo" parameterType="com.shr.translationtoolservice.entity.ConfigResUser">
    <!--@mbg.generated-->
    update t_user
    set

    <if test="user.userName != null and user.userName != ''">

      user_name=  #{user.userName,jdbcType=VARCHAR},
    </if>
    <if test="user.jobNumber != null and user.jobNumber != ''">

      job_number=  #{user.jobNumber,jdbcType=VARCHAR},
    </if>
    <if test="user.department != null and user.department != ''">
      department=  #{user.department,jdbcType=VARCHAR},
    </if>
    <if test="user.roleId != null and user.roleId != ''">

      role_id=  #{user.roleId,jdbcType=VARCHAR},

    </if>
    id = #{user.id,jdbcType=VARCHAR}
    where id = #{user.id,jdbcType=VARCHAR}
  </update>


</mapper>