<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="abbr" column="abbr" jdbcType="VARCHAR"/>
        <result property="chinese" column="chinese" jdbcType="VARCHAR"/>
        <result property="chineseLength" column="chinese_length" jdbcType="INTEGER"/>
        <result property="chineseInterpretation" column="chinese_interpretation" jdbcType="VARCHAR"/>
        <result property="englishInterpretation" column="english_interpretation" jdbcType="VARCHAR"/>
        <result property="entrySource" column="entry_source" jdbcType="VARCHAR"/>
        <result property="entryState" column="entry_state" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update" column="update" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="isLatestVersion" column="is_latest_version" jdbcType="INTEGER"/>
        <result property="entryLabel" column="entry_label" jdbcType="VARCHAR"/>
        <result property="partOfSpeech" column="part_of_speech" jdbcType="VARCHAR"/>
        <result property="classifyId" column="classify_id" jdbcType="VARCHAR"/>
        <result property="repeatEntryId" column="repeat_entry_id" jdbcType="VARCHAR"/>
        <result property="english" column="english" jdbcType="VARCHAR"/>
        <result property="englishLength" column="english_length" jdbcType="INTEGER"/>
        <result property="englishTranslateState" column="english_translate_state" jdbcType="VARCHAR"/>
        <result property="englishDisable" column="english_disable" jdbcType="VARCHAR"/>
        <result property="englishDisableLength" column="english_disable_length" jdbcType="INTEGER"/>
        <result property="russian" column="russian" jdbcType="VARCHAR"/>
        <result property="russianLength" column="russian_length" jdbcType="INTEGER"/>
        <result property="russianTranslateState" column="russian_translate_state" jdbcType="VARCHAR"/>
        <result property="spanish" column="spanish" jdbcType="VARCHAR"/>
        <result property="spanishLength" column="spanish_length" jdbcType="INTEGER"/>
        <result property="spanishTranslateState" column="spanish_translate_state" jdbcType="VARCHAR"/>
        <result property="french" column="french" jdbcType="VARCHAR"/>
        <result property="frenchLength" column="french_length" jdbcType="INTEGER"/>
        <result property="frenchTranslateState" column="french_translate_state" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="typeId" column="type_id" jdbcType="VARCHAR"/>
        <result property="environmentRemark" column="environment_remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,abbr,chinese,
        chinese_length,chinese_interpretation,english_interpretation,
        entry_source,entry_state,creator,
        DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') as create_time ,`update`,  DATE_FORMAT(update_time, '%Y-%m-%d %H:%i:%s') as update_time,
        version,is_latest_version,entry_label,
        part_of_speech,classify_id,repeat_entry_id,
        english,english_length,english_translate_state,
        english_disable,english_disable_length,russian,
        russian_length,russian_translate_state,spanish,
        spanish_length,spanish_translate_state,french,
        french_length,french_translate_state,remark,type_id,environment_remark
    </sql>

    <sql id="t1_Column_List">
    t1.id as id ,t1.abbr as abbr,t1.chinese as chinese,
    t1.chinese_length as chinese_length, t1.chinese_interpretation as chinese_interpretation,t1.english_interpretation as english_interpretation,
    t1.entry_source as entry_source, t1.entry_state as entry_state,t1.creator as creator,
    t1.create_time as create_time,t1.`update` as `update`,t1.update_time as update_time,
    t1.version as version,t1.is_latest_version as is_latest_version,t1.entry_label as entry_label,
    t1.part_of_speech as part_of_speech ,t1.classify_id as classify_id,
    t1.repeat_entry_id,
    t1.english as english,t1.english_length,t1.english_translate_state,
    t1.english_disable,t1.english_disable_length,t1.russian,
    t1.russian_length,t1.russian_translate_state,t1.spanish,
    t1.spanish_length,t1.spanish_translate_state,t1.french,
    t1.french_length,t1.french_translate_state,t1.remark,t1.type_id,t1.environment_remark
 </sql>

    <update id="auditByIds" parameterType="java.util.List">
        update t_entry_common set entry_state = #{state,jdbcType=VARCHAR} where id in (
        <foreach collection="idList" item="idList" index="index" separator=",">
            #{idList,jdbcType=VARCHAR}
        </foreach>
        );
    </update>

    <update id="auditById" >
        update  t_entry_common set entry_state = ${state} where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectEntryById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_common where id = #{id,jdbcType=VARCHAR} and entry_state > 0
    </select>

    <select id="selectByName" parameterType="com.shr.translationtoolservice.entity.EntryEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_common where entry_state > 0 and chinese = #{entryEntity.chinese,jdbcType=VARCHAR} and version =
        #{entryEntity.version,jdbcType=VARCHAR}
    </select>

    <select id="selectByAbbr" parameterType="com.shr.translationtoolservice.entity.EntryEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_common where entry_state > 0 and  abbr = #{abbr,jdbcType=VARCHAR} and version =
        #{version,jdbcType=VARCHAR}
    </select>





    <select id="selectNoMerge" parameterType="String" resultMap="BaseResultMap">


        select  <include refid="t1_Column_List"/>
        from t_entry_common t1
        where chinese in(
        select chinese from t_entry_common
        where chinese in (
        select chinese from t_entry_common t1 where t1.entry_state > 0 and t1.repeat_entry_id is null or  t1.repeat_entry_id = ''
        <if test="chinese != null and chinese != ''">
            and t1.chinese like CONCAT( '%','${chinese}','%' )
        </if>
        ) and entry_state > 0
        group by chinese
        having count(chinese) >=2 )
        order by chinese

    </select>

    <select id="selectMerge" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="t1_Column_List"/>

        from t_entry_common t1  where entry_state > 0 and
        t1.repeat_entry_id is not null and  t1.repeat_entry_id != ''
        <if test="chinese != null and chinese != ''">
            and t1.chinese like CONCAT( '%','${chinese}','%' )
        </if>
        order by chinese


    </select>

    <update id="updateEntryById" parameterType="com.shr.translationtoolservice.entity.EntryEntity">
        update t_entry_common
        <set>

            <if test="entryEntity.abbr != null  and entryEntity.abbr != ''">
                abbr = #{entryEntity.abbr,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.chinese != null  and entryEntity.chinese != ''">
                chinese = #{entryEntity.chinese,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.chineseLength != null and entryEntity.chineseLength != 0 ">
                chinese_length = #{entryEntity.chineseLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.chineseInterpretation != null and entryEntity.chineseInterpretation != ''">
                chinese_interpretation = #{entryEntity.chineseInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishInterpretation != null and entryEntity.englishInterpretation != ''">
                english_interpretation = #{entryEntity.englishInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.entrySource != null and entryEntity.entrySource != ''">
                entry_source = #{entryEntity.entrySource,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.entryState != null  and entryEntity.entryState != 0">
                entry_state = #{entryEntity.entryState,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.creator != null and entryEntity.creator != ''">
                creator = #{entryEntity.creator,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.createTime != null  ">
                create_time = #{entryEntity.createTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="entryEntity.update != null and entryEntity.update != ''">
                `update` = #{entryEntity.update,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.updateTime != null">
                update_time = #{entryEntity.updateTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="entryEntity.version != null and entryEntity.version != ''">
                version = #{entryEntity.version,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.isLatestVersion != null  and entryEntity.isLatestVersion != 0">
                is_latest_version = #{entryEntity.isLatestVersion,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.entryLabel != null and entryEntity.entryLabel != ''">
                entry_label = #{entryEntity.entryLabel,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.partOfSpeech != null and entryEntity.partOfSpeech != ''">
                part_of_speech = #{entryEntity.partOfSpeech,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.classifyId != null and entryEntity.classifyId != ''">
                classify_id = #{entryEntity.classifyId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.repeatEntryId != null and entryEntity.repeatEntryId != ''">
                repeat_entry_id = #{entryEntity.repeatEntryId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.english != null and entryEntity.english != ''">
                english =#{entryEntity.english,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishLength != null and entryEntity.englishLength != 0">
                english_length = #{entryEntity.englishLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.englishTranslateState != null and entryEntity.englishTranslateState != ''">
                english_translate_state = #{entryEntity.englishTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishDisable != null and entryEntity.englishDisable != ''">
                english_disable = #{entryEntity.englishDisable,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishDisableLength != null   and entryEntity.englishDisableLength != 0">
                english_disable_length = #{entryEntity.englishDisableLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.russian != null and entryEntity.russian != ''">
                russian = #{entryEntity.russian,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.russianLength != null  and entryEntity.russianLength != 0">
                russian_length = #{entryEntity.russianLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.russianTranslateState != null and entryEntity.russianTranslateState != ''">
                russian_translate_state = #{entryEntity.russianTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.spanish != null and entryEntity.spanish != ''">
                spanish = #{entryEntity.spanish,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.spanishLength != null and entryEntity.spanishLength != 0">
                spanish_length = #{entryEntity.spanishLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.spanishTranslateState != null and entryEntity.spanishTranslateState != ''">
                spanish_translate_state = #{entryEntity.spanishTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.french != null and entryEntity.french != ''">
                french = #{entryEntity.french,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.frenchLength != null  and entryEntity.frenchLength != 0">
                french_length = #{entryEntity.frenchLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.frenchTranslateState != null and entryEntity.frenchTranslateState != ''">
                french_translate_state = #{entryEntity.frenchTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.remark != null and entryEntity.remark != ''">
                remark = #{entryEntity.remark,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.typeId != null and entryEntity.typeId != ''">
                type_id = #{entryEntity.typeId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.environmentRemark != null and entryEntity.environmentRemark != ''">
                environment_remark = #{entryEntity.environmentRemark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{entryEntity.id,jdbcType=VARCHAR}
    </update>

    <update id="deleteEntries" parameterType="arraylist">

        update  t_entry_common set entry_state = 0 where  id in(
        <foreach collection="idList" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </update>

    <select id="selectListByEntries" parameterType="String" resultMap="BaseResultMap">




        select  <include refid="Base_Column_List"/>
        from    t_entry_common
        where 1=1 and  is_latest_version = 1
        <if test="entryEntity.abbr != null  and entryEntity.abbr != ''">
            and
            abbr  like CONCAT('%','${entryEntity.abbr}','%' )
        </if>
        <if test="entryEntity.chinese != null  and entryEntity.chinese != ''">
            and   chinese   like CONCAT('%','${entryEntity.chinese}','%' )
        </if>
        <if test="entryEntity.chineseLength != null and entryEntity.chineseLength != 0 ">
            and chinese_length = #{entryEntity.chineseLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.chineseInterpretation != null and entryEntity.chineseInterpretation != ''">
            and   chinese_interpretation = #{entryEntity.chineseInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishInterpretation != null and entryEntity.englishInterpretation != ''">
            and englishinterpretation = #{entryEntity.englishInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.entrySource != null and entryEntity.entrySource != ''">
            and entry_source = #{entryEntity.entrySource,jdbcType=VARCHAR}
        </if>
        <if test="entryState != null  ">
            and  entry_state in (${entryState})
        </if>
        <if test="entryEntity.creator != null and entryEntity.creator != ''">
            and  creator like CONCAT('%','${entryEntity.creator}','%' )
        </if>
        <if test="entryEntity.createTime != null  and entryEntity.createTime != ''">
            and  create_time &gt;=    #{entryEntity.createTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.createEndRTime != null   and entryEntity.createEndRTime != ''">
            and create_time &lt;=    #{entryEntity.createEndRTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.version != null and entryEntity.version != ''">
            and version = #{entryEntity.version,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.isLatestVersion != null  and entryEntity.isLatestVersion != 0">
            and is_latest_version = #{entryEntity.isLatestVersion,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.entryLabel != null and entryEntity.entryLabel != ''">
            and entry_label = #{entryEntity.entryLabel,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.partOfSpeech != null and entryEntity.partOfSpeech != ''">
            and part_of_speech like CONCAT('%','${entryEntity.partOfSpeech}','%' )
        </if>
        <if test="entryEntity.classifyId != null and entryEntity.classifyId != ''">
            and classify_id in (
            <foreach collection="classifyIds" item="classify" index="index" separator=",">
                #{classify.key,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
        <if test="entryEntity.repeatEntryId != null and entryEntity.repeatEntryId != ''">
            and repeatEntryId = #{entryEntity.repeatEntryId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.english != null and entryEntity.english != ''">
            and english =#{entryEntity.english,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishLength != null and entryEntity.englishLength != 0">
            and english_length = #{entryEntity.englishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.englishTranslateState != null and entryEntity.englishTranslateState != ''">
            and english_translate_state = #{entryEntity.englishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisable != null and entryEntity.englishDisable != ''">
            and  english_disable = #{entryEntity.englishDisable,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisableLength != null   and entryEntity.englishDisableLength != 0">
            and english_disable_length = #{entryEntity.englishDisableLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russian != null and entryEntity.russian != ''">
            and russian = #{entryEntity.russian,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.russianLength != null  and entryEntity.russianLength != 0">
            and russian_length = #{entryEntity.russianLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russianTranslateState != null and entryEntity.russianTranslateState != ''">
            and russian_translate_state = #{entryEntity.russianTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanish != null and entryEntity.spanish != ''">
            and  spanish = #{entryEntity.spanish,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanishLength != null and entryEntity.spanishLength != 0">
            and spanish_length = #{entryEntity.spanishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.spanishTranslateState != null and entryEntity.spanishTranslateState != ''">
            and  spanish_translate_state = #{entryEntity.spanishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.french != null and entryEntity.french != ''">
            and french = #{entryEntity.french,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.frenchLength != null  and entryEntity.frenchLength != 0">
            and french_length = #{entryEntity.frenchLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.frenchTranslateState != null and entryEntity.frenchTranslateState != ''">
            and french_translate_state = #{entryEntity.frenchTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.remark != null and entryEntity.remark != ''">
            remark = #{entryEntity.remark,jdbcType=VARCHAR}
        </if>

        <if test="entryEntity.typeId != null and entryEntity.typeId != ''">
            type_id = #{entryEntity.typeId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.environmentRemark != null and entryEntity.environmentRemark != ''">
            environment_remark = #{entryEntity.environmentRemark,jdbcType=VARCHAR}
        </if>



        order by update_time desc
        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>

    </select>


    <select id="selectListByEntriesTotal"  resultType="int">



        select  count(1)
        from    t_entry_common
        where 1=1
        <if test="entryEntity.abbr != null  and entryEntity.abbr != ''">
            and
            abbr  like CONCAT('%','${entryEntity.abbr}','%' )
        </if>
        <if test="entryEntity.chinese != null  and entryEntity.chinese != ''">
            and   chinese   like CONCAT('%','${entryEntity.chinese}','%' )
        </if>
        <if test="entryEntity.chineseLength != null and entryEntity.chineseLength != 0 ">
            and chinese_length = #{entryEntity.chineseLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.chineseInterpretation != null and entryEntity.chineseInterpretation != ''">
            and   chinese_interpretation = #{entryEntity.chineseInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishInterpretation != null and entryEntity.englishInterpretation != ''">
            and englishinterpretation = #{entryEntity.englishInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.entrySource != null and entryEntity.entrySource != ''">
            and entry_source = #{entryEntity.entrySource,jdbcType=VARCHAR}
        </if>
        <if test="entryState != null  ">
            and  entry_state in (${entryState})
        </if>
        <if test="entryEntity.creator != null and entryEntity.creator != ''">
            and  creator like CONCAT('%','${entryEntity.creator}','%' )
        </if>
        <if test="entryEntity.createTime != null  and entryEntity.createTime != ''">
            and  create_time &gt;=    #{entryEntity.createTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.createEndRTime != null   and entryEntity.createEndRTime != ''">
            and create_time &lt;=    #{entryEntity.createEndRTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.version != null and entryEntity.version != ''">
            and version = #{entryEntity.version,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.isLatestVersion != null  and entryEntity.isLatestVersion != 0">
            and is_latest_version = #{entryEntity.isLatestVersion,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.entryLabel != null and entryEntity.entryLabel != ''">
            and entry_label = #{entryEntity.entryLabel,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.partOfSpeech != null and entryEntity.partOfSpeech != ''">
            and part_of_speech like CONCAT('%','${entryEntity.partOfSpeech}','%' )
        </if>
        <if test="entryEntity.classifyId != null and entryEntity.classifyId != ''">
            and classify_id in (
            <foreach collection="classifyIds" item="classify" index="index" separator=",">
                #{classify.key,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
        <if test="entryEntity.repeatEntryId != null and entryEntity.repeatEntryId != ''">
            and repeatEntryId = #{entryEntity.repeatEntryId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.english != null and entryEntity.english != ''">
            and english =#{entryEntity.english,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishLength != null and entryEntity.englishLength != 0">
            and english_length = #{entryEntity.englishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.englishTranslateState != null and entryEntity.englishTranslateState != ''">
            and english_translate_state = #{entryEntity.englishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisable != null and entryEntity.englishDisable != ''">
            and  english_disable = #{entryEntity.englishDisable,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisableLength != null   and entryEntity.englishDisableLength != 0">
            and english_disable_length = #{entryEntity.englishDisableLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russian != null and entryEntity.russian != ''">
            and russian = #{entryEntity.russian,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.russianLength != null  and entryEntity.russianLength != 0">
            and russian_length = #{entryEntity.russianLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russianTranslateState != null and entryEntity.russianTranslateState != ''">
            and russian_translate_state = #{entryEntity.russianTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanish != null and entryEntity.spanish != ''">
            and  spanish = #{entryEntity.spanish,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanishLength != null and entryEntity.spanishLength != 0">
            and spanish_length = #{entryEntity.spanishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.spanishTranslateState != null and entryEntity.spanishTranslateState != ''">
            and  spanish_translate_state = #{entryEntity.spanishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.french != null and entryEntity.french != ''">
            and french = #{entryEntity.french,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.frenchLength != null  and entryEntity.frenchLength != 0">
            and french_length = #{entryEntity.frenchLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.frenchTranslateState != null and entryEntity.frenchTranslateState != ''">
            and french_translate_state = #{entryEntity.frenchTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.remark != null and entryEntity.remark != ''">
            remark = #{entryEntity.remark,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.typeId != null and entryEntity.typeId != ''">
            type_id = #{entryEntity.typeId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.environmentRemark != null and entryEntity.environmentRemark != ''">
            environment_remark = #{entryEntity.environmentRemark,jdbcType=VARCHAR}
        </if>
        order by update_time desc



    </select>

    <select id="selectListByEntry" parameterType="com.shr.translationtoolservice.entity.EntryEntity" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from     t_entry_common
        where 1=1
        <if test="entryEntity.abbr != null  and entryEntity.abbr != ''">
            and
            abbr  like CONCAT('%','${entryEntity.abbr}','%' )
        </if>
        <if test="entryEntity.chinese != null  and entryEntity.chinese != ''">
            and   chinese   like CONCAT('%','${entryEntity.chinese}','%' )
        </if>
        <if test="entryEntity.chineseLength != null and entryEntity.chineseLength != 0 ">
            and chinese_length = #{entryEntity.chineseLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.chineseInterpretation != null and entryEntity.chineseInterpretation != ''">
            and   chinese_interpretation = #{entryEntity.chineseInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishInterpretation != null and entryEntity.englishInterpretation != ''">
            and englishinterpretation = #{entryEntity.englishInterpretation,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.entrySource != null and entryEntity.entrySource != ''">
            and entry_source = #{entryEntity.entrySource,jdbcType=VARCHAR}
        </if>
        <if test="entryState != null  and entryState != ''">
            and  entry_state in  (${entryState})
        </if>
        <if test="entryEntity.creator != null and entryEntity.creator != ''">
            and  creator like CONCAT('%','${entryEntity.creator}','%' )
        </if>
        <if test="entryEntity.createTime != null  and entryEntity.createTime != ''">
            and  create_time &gt;=    #{entryEntity.createTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.createEndRTime != null   and entryEntity.createEndRTime != ''">
            and create_time &lt;=    #{entryEntity.createEndRTime,jdbcType=DATETIMEOFFSET}
        </if>
        <if test="entryEntity.version != null and entryEntity.version != ''">
            and version = #{entryEntity.version,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.isLatestVersion != null  and entryEntity.isLatestVersion != 0">
            and is_latest_version = #{entryEntity.isLatestVersion,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.entryLabel != null and entryEntity.entryLabel != ''">
            and entry_label = #{entryEntity.entryLabel,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.partOfSpeech != null and entryEntity.partOfSpeech != ''">
            and part_of_speech like CONCAT('%','${entryEntity.partOfSpeech}','%' )
        </if>
        <if test="entryEntity.classifyId != null and entryEntity.classifyId != ''">
            and classify_id = #{entryEntity.classifyId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.repeatEntryId != null and entryEntity.repeatEntryId != ''">
            and repeatEntryId = #{entryEntity.repeatEntryId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.english != null and entryEntity.english != ''">
            and english =#{entryEntity.english,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishLength != null and entryEntity.englishLength != 0">
            and english_length = #{entryEntity.englishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.englishTranslateState != null and entryEntity.englishTranslateState != ''">
            and english_translate_state = #{entryEntity.englishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisable != null and entryEntity.englishDisable != ''">
            and  english_disable = #{entryEntity.englishDisable,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.englishDisableLength != null   and entryEntity.englishDisableLength != 0">
            and english_disable_length = #{entryEntity.englishDisableLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russian != null and entryEntity.russian != ''">
            and russian = #{entryEntity.russian,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.russianLength != null  and entryEntity.russianLength != 0">
            and russian_length = #{entryEntity.russianLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.russianTranslateState != null and entryEntity.russianTranslateState != ''">
            and russian_translate_state = #{entryEntity.russianTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanish != null and entryEntity.spanish != ''">
            and  spanish = #{entryEntity.spanish,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.spanishLength != null and entryEntity.spanishLength != 0">
            and spanish_length = #{entryEntity.spanishLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.spanishTranslateState != null and entryEntity.spanishTranslateState != ''">
            and  spanish_translate_state = #{entryEntity.spanishTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.french != null and entryEntity.french != ''">
            and french = #{entryEntity.french,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.frenchLength != null  and entryEntity.frenchLength != 0">
            and french_length = #{entryEntity.frenchLength,jdbcType=INTEGER}
        </if>
        <if test="entryEntity.frenchTranslateState != null and entryEntity.frenchTranslateState != ''">
            and french_translate_state = #{entryEntity.frenchTranslateState,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.typeId != null and entryEntity.typeId != ''">
            type_id = #{entryEntity.typeId,jdbcType=VARCHAR}
        </if>
        <if test="entryEntity.environmentRemark != null and entryEntity.environmentRemark != ''">
            environment_remark = #{entryEntity.environmentRemark,jdbcType=VARCHAR}
        </if>
        order by update_time desc
        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>


    </select>




    <insert id="insertEntry" parameterType="com.shr.translationtoolservice.entity.EntryEntity">

        <!--@mbg.generated-->
        insert into t_entry_common
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entryEntity.id != null">
                id,
            </if>
            <if test="entryEntity.abbr != null">
                abbr,
            </if>
            <if test="entryEntity.chinese != null">
                chinese,
            </if>
            <if test="entryEntity.chineseLength != null">
                chinese_length,
            </if>
            <if test="entryEntity.chineseInterpretation != null">
                chinese_interpretation,
            </if>
            <if test="entryEntity.englishInterpretation != null">
                english_interpretation,
            </if>
            <if test="entryEntity.entrySource != null">
                entry_source,
            </if>
            <if test="entryEntity.entryState != null">
                entry_state,
            </if>
            <if test="entryEntity.creator != null">
                creator,
            </if>
            <if test="entryEntity.createTime != null">
                create_time,
            </if>
            <if test="entryEntity.update == null">
                `update`,
            </if>
            <if test="entryEntity.updateTime == null">
                update_time,
            </if>
            <if test="entryEntity.version != null">
                version,
            </if>
            <if test="entryEntity.isLatestVersion != null">
                is_latest_version,
            </if>
            <if test="entryEntity.entryLabel != null">
                entry_label,
            </if>
            <if test="entryEntity.partOfSpeech != null">
                part_of_speech,
            </if>
            <if test="entryEntity.classifyId != null">
                classify_id,
            </if>
            <if test="entryEntity.repeatEntryId != null">
                repeat_entry_id,
            </if>
            <if test="entryEntity.english != null">
                english,
            </if>
            <if test="entryEntity.englishLength != null">
                english_length,
            </if>
            <if test="entryEntity.englishTranslateState != null">
                english_translate_state,
            </if>
            <if test="entryEntity.englishDisable != null">
                english_disable,
            </if>
            <if test="entryEntity.englishDisableLength != null">
                english_disable_length,
            </if>
            <if test="entryEntity.russian != null">
                russian,
            </if>
            <if test="entryEntity.russianLength != null">
                russian_length,
            </if>
            <if test="entryEntity.russianTranslateState != null">
                russian_translate_state,
            </if>
            <if test="entryEntity.spanish != null">
                spanish,
            </if>
            <if test="entryEntity.spanishLength != null">
                spanish_length,
            </if>
            <if test="entryEntity.spanishTranslateState != null">
                spanish_translate_state,
            </if>
            <if test="entryEntity.french != null">
                french,
            </if>
            <if test="entryEntity.frenchLength != null">
                french_length,
            </if>
            <if test="entryEntity.frenchTranslateState != null">
                french_translate_state,
            </if>
            <if test="entryEntity.remark != null">
                remark,
            </if>
            <if test="entryEntity.typeId != null">
                type_id,
            </if>
            <if test="entryEntity.environmentRemark != null">
                environment_remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entryEntity.id != null">
                #{entryEntity.id,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.abbr != null">
                #{entryEntity.abbr,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.chinese != null">
                #{entryEntity.chinese,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.chineseLength != null">
                #{entryEntity.chineseLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.chineseInterpretation != null">
                #{entryEntity.chineseInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishInterpretation != null">
                #{entryEntity.englishInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.entrySource != null">
                #{entryEntity.entrySource,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.entryState != null">
                #{entryEntity.entryState,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.creator != null">
                #{entryEntity.creator,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.createTime != null">
                #{entryEntity.createTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="entryEntity.update == null">
                #{entryEntity.creator,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.updateTime == null">
                #{entryEntity.createTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="entryEntity.version != null">
                #{entryEntity.version,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.isLatestVersion != null">
                #{entryEntity.isLatestVersion,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.entryLabel != null">
                #{entryEntity.entryLabel,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.partOfSpeech != null">
                #{entryEntity.partOfSpeech,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.classifyId != null">
                #{entryEntity.classifyId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.repeatEntryId != null">
                #{entryEntity.repeatEntryId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.english != null">
                #{entryEntity.english,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishLength != null">
                #{entryEntity.englishLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.englishTranslateState != null">
                #{entryEntity.englishTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishDisable != null">
                #{entryEntity.englishDisable,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.englishDisableLength != null">
                #{entryEntity.englishDisableLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.russian != null">
                #{entryEntity.russian,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.russianLength != null">
                #{entryEntity.russianLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.russianTranslateState != null">
                #{entryEntity.russianTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.spanish != null">
                #{entryEntity.spanish,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.spanishLength != null">
                #{entryEntity.spanishLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.spanishTranslateState != null">
                #{entryEntity.spanishTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.french != null">
                #{entryEntity.french,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.frenchLength != null">
                #{entryEntity.frenchLength,jdbcType=INTEGER},
            </if>
            <if test="entryEntity.frenchTranslateState != null">
                #{entryEntity.frenchTranslateState,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.remark != null">
                #{entryEntity.remark,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.typeId != null and entryEntity.typeId != ''">
                #{entryEntity.typeId,jdbcType=VARCHAR},
            </if>
            <if test="entryEntity.environmentRemark != null and entryEntity.environmentRemark != ''">
                 #{entryEntity.environmentRemark,jdbcType=VARCHAR}
            </if>
        </trim>

    </insert>
    <update id="mergerSplit" parameterType="ArrayList">
        update t_entry_common set repeat_entry_id = null where id in (
        <foreach collection="idList" item="idList" index="index" separator=",">
            #{idList,jdbcType=VARCHAR}
        </foreach>
        );
    </update>

<select id="getEntryToVersion" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/>
    ,IF(
    1=1
    <if test="creator != null and version != ''">
        and creator =  #{creator,jdbcType=VARCHAR}
    </if>
    AND entry_state = 2,1,0
    )as sortC from t_entry_common where 1=1
    <if test="classfies != null and classfies.size != 0">
        and  classify_id in
        (
        <foreach collection="classfies" item="classfy" index="index" separator=",">
            #{classfy.key,jdbcType=VARCHAR}
        </foreach>
        )
    </if>

    <if test="versionEntities != null and versionEntities.size != 0">
        and  id not  in
        (
        <foreach collection="versionEntities" item="versionEntity" index="index" separator=",">
            #{versionEntity.id,jdbcType=VARCHAR}
        </foreach>
        )
    </if>
    ORDER BY sortC DESC


</select>



</mapper>
