<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryTempMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryTempEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="entry" column="entry" jdbcType="VARCHAR"/>
        <result property="translate" column="translate" jdbcType="VARCHAR"/>
        <result property="translateType" column="translate_type" jdbcType="VARCHAR"/>
        <result property="tag" column="tag" jdbcType="VARCHAR"/>
        <result property="auditState" column="audit_state" jdbcType="INTEGER"/>
        <result property="auditTransFeedback" column="audit_trans_feedback" jdbcType="VARCHAR"/>
        <result property="auditEntryFeedback" column="audit_entry_feedback" jdbcType="VARCHAR"/>
        <result property="abbr" column="abbr" jdbcType="VARCHAR"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="versionID" column="version_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,entry,translate,
        translate_type,tag,audit_state,
        audit_entry_feedback,audit_trans_feedback,abbr,task_id,
        source,version_id
    </sql>

    <select id="getEntryTempByTaskID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_temp where task_id = #{taskID,jdbcType=VARCHAR}

        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getEntryTempByTaskIDTotal" resultType="int">
        select
       count(1)
        from t_entry_temp where task_id =   #{taskID,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByTaskID">
        delete  from t_entry_temp where task_id =  #{taskID,jdbcType=VARCHAR}
    </delete>
</mapper>
