<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryInfoMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryInfoEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="abbr" column="abbr" jdbcType="VARCHAR"/>
        <result property="entry" column="entry" jdbcType="VARCHAR"/>
        <result property="entryLength" column="entry_length" jdbcType="INTEGER"/>
        <result property="chineseInterpretation" column="chinese_interpretation" jdbcType="VARCHAR"/>
        <result property="englishInterpretation" column="english_interpretation" jdbcType="VARCHAR"/>
        <result property="entrySource" column="entry_source" jdbcType="VARCHAR"/>
        <result property="entryState" column="entry_state" jdbcType="INTEGER"/>
        <result property="update" column="update" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="versionID" column="version_id" jdbcType="VARCHAR"/>
        <result property="entryLabel" column="entry_label" jdbcType="VARCHAR"/>
        <result property="partOfSpeech" column="part_of_speech" jdbcType="VARCHAR"/>
        <result property="classifyId" column="classify_id" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="enTransId" column="en_trans_id" jdbcType="VARCHAR"/>
        <result property="englishTranslateState" column="englishTranslateState" jdbcType="VARCHAR"/>
        <result property="englishPublicState" column="englishPublicState" jdbcType="VARCHAR"/>
        <result property="english" column="english" jdbcType="VARCHAR"/>

        <result property="ruTransId" column="ru_trans_id" jdbcType="VARCHAR"/>
        <result property="russian" column="russian" jdbcType="VARCHAR"/>
        <result property="russianTranslateState" column="russianTranslateState" jdbcType="VARCHAR"/>
        <result property="russianPublicState" column="russianPublicState" jdbcType="VARCHAR"/>

        <result property="fraTransId" column="fra_trans_id" jdbcType="VARCHAR"/>
        <result property="french" column="french" jdbcType="VARCHAR"/>
        <result property="frenchTranslateState" column="frenchTranslateState" jdbcType="VARCHAR"/>
        <result property="frenchPublicState" column="frenchPublicState" jdbcType="VARCHAR"/>

        <result property="spaTransId" column="spa_trans_id" jdbcType="VARCHAR"/>
        <result property="spanish" column="spanish" jdbcType="VARCHAR"/>
        <result property="spanishTranslateState" column="spanishTranslateState" jdbcType="VARCHAR"/>
        <result property="spanishPublicState" column="spanishPublicState" jdbcType="VARCHAR"/>


        <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="importType" column="import_type" jdbcType="VARCHAR"/>
        <result property="entryVersionID" column="entry_version_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,abbr,entry,
        entry_length,chinese_interpretation,english_interpretation,
        entry_source,entry_state,`update`,
        update_time,version_id,entry_label,
        part_of_speech,classify_id,remark,
        task_id,en_trans_id,ru_trans_id,
        fra_trans_id,spa_trans_id,is_public,
        is_delete,import_type,entry_version_type
    </sql>

    <select id="getEntryByVersion" resultMap="BaseResultMap">
        select  distinct t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
         from ( t_product_relation t1  right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0
        <if test="entryInfoEntity.versionID != null and entryInfoEntity.versionID   != ''">
           and t1.version_id = #{entryInfoEntity.versionID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.taskId != null and entryInfoEntity.taskId   != ''">
            and t1.task_id = #{entryInfoEntity.taskId,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.productID != null and entryInfoEntity.productID   != ''">
            and t1.product_id = #{entryInfoEntity.productID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.classfy1 != null and entryInfoEntity.classfy1   != ''">
            and t2.classfy1 = #{entryInfoEntity.classfy1,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.classfy2 != null and entryInfoEntity.classfy2   != ''">
            and t2.classfy2 = #{entryInfoEntity.classfy2,jdbcType=VARCHAR}
        </if>

        <if test="entryInfoEntity.entry != null and entryInfoEntity.entry   != ''">
            and t2.entry = #{entryInfoEntity.entry,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.abbr != null and entryInfoEntity.abbr   != ''">
            and t2.abbr = #{entryInfoEntity.abbr,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.entryState != null ">
            and t2.entry_state = #{entryInfoEntity.entryState,jdbcType=INTEGER}
        </if>
        <if test="entryInfoEntity.entryLabel != null and entryInfoEntity.entryLabel   != ''">
            and t2.entry_label like CONCAT('%',#{entryInfoEntity.entryLabel,jdbcType=VARCHAR},'%')
        </if>
        <if test="entryInfoEntity.tag != null and entryInfoEntity.tag   != ''">
            and t2.tag like CONCAT('%',#{entryInfoEntity.tag,jdbcType=VARCHAR},'%')
        </if>
        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>

    </select>


    <select id="getEntryByVersionTotal" resultType="int">
        select COUNT( DISTINCT t2.id)
        from ( t_product_relation t1  right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0
        <if test="entryInfoEntity.versionID != null and entryInfoEntity.versionID   != ''">
            and t1.version_id = #{entryInfoEntity.versionID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.taskId != null and entryInfoEntity.taskId   != ''">
            and t1.task_id = #{entryInfoEntity.taskId,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.productID != null and entryInfoEntity.productID   != ''">
            and t1.product_id = #{entryInfoEntity.productID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.classfy1 != null and entryInfoEntity.classfy1   != ''">
            and t2.classfy1 = #{entryInfoEntity.classfy1,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.classfy2 != null and entryInfoEntity.classfy2   != ''">
            and t2.classfy2 = #{entryInfoEntity.classfy2,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.entryState != null and entryInfoEntity.entryState   != ''">
            and t2.entry_state = #{entryInfoEntity.entryState,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.entry != null and entryInfoEntity.entry   != ''">
            and t2.entry = #{entryInfoEntity.entry,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.abbr != null and entryInfoEntity.abbr   != ''">
            and t2.abbr = #{entryInfoEntity.abbr,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.entryLabel != null and entryInfoEntity.entryLabel   != ''">
            and t2.entry_label like CONCAT('%',#{entryInfoEntity.entryLabel,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="getEntryByAbbr"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${tableName} where abbr = #{abbr,jdbcType=VARCHAR} and version_id =
        #{versionID,jdbcType=VARCHAR}
    </select>

    <insert id="insertEntry">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entryInfoEntity.id != null and entryInfoEntity.id  != ''">
                id,
            </if>
            <if test="entryInfoEntity.abbr != null and entryInfoEntity.abbr  != ''">
                abbr,
            </if>
            <if test="entryInfoEntity.entry != null and entryInfoEntity.entry  != ''">
                entry,
            </if>
            <if test="entryInfoEntity.entryLength != null ">
                entry_length,
            </if>
            <if test="entryInfoEntity.chineseInterpretation != null and entryInfoEntity.chineseInterpretation  != ''">
                chinese_interpretation,
            </if>
            <if test="entryInfoEntity.englishInterpretation != null and entryInfoEntity.englishInterpretation  != ''">
                english_interpretation,
            </if>
            <if test="entryInfoEntity.entrySource != null and entryInfoEntity.entrySource  != ''">
                entry_source,
            </if>
            <if test="entryInfoEntity.entryState != null and entryInfoEntity.entryState  != ''">
                entry_state,
            </if>
            <if test="entryInfoEntity.update != null and entryInfoEntity.update  != ''">
                `update`,
            </if>
            <if test="entryInfoEntity.updateTime != null ">
                update_time,
            </if>
            <if test="entryInfoEntity.versionID != null and entryInfoEntity.versionID  != ''">
                version_id,
            </if>
            <if test="entryInfoEntity.entryLabel != null and entryInfoEntity.entryLabel  != ''">
                entry_label,
            </if>
            <if test="entryInfoEntity.partOfSpeech != null and entryInfoEntity.partOfSpeech  != ''">
                part_of_speech,
            </if>
            <if test="entryInfoEntity.classifyId != null and entryInfoEntity.classifyId  != ''">
                classify_id,
            </if>
            <if test="entryInfoEntity.remark != null and entryInfoEntity.remark  != ''">
                remark,
            </if>
            <if test="entryInfoEntity.taskId != null and entryInfoEntity.taskId  != ''">
                task_id,
            </if>
            <if test="entryInfoEntity.enTransId != null and entryInfoEntity.enTransId   != ''">
                en_trans_id,
            </if>
            <if test="entryInfoEntity.ruTransId != null and entryInfoEntity.ruTransId  != ''">
                ru_trans_id,
            </if>
            <if test="entryInfoEntity.fraTransId != null and entryInfoEntity.fraTransId   != ''">
                fra_trans_id,
            </if>
            <if test="entryInfoEntity.spaTransId != null and entryInfoEntity.spaTransId   != ''">
                spa_trans_id,
            </if>
            <if test="entryInfoEntity.isPublic != null ">
                is_public,
            </if>
            <if test="entryInfoEntity.isDelete != null ">
                is_delete,
            </if>
            <if test="entryInfoEntity.importType != null  and entryInfoEntity.importType   != ''">
                import_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entryInfoEntity.id != null and entryInfoEntity.id   != ''">
                #{entryInfoEntity.id,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.abbr != null and entryInfoEntity.abbr   != ''">
                #{entryInfoEntity.abbr,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entry != null and entryInfoEntity.entry   != ''">
                #{entryInfoEntity.entry,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entryLength != null ">
                #{entryInfoEntity.entryLength,jdbcType=INTEGER},
            </if>
            <if test="entryInfoEntity.chineseInterpretation != null and entryInfoEntity.chineseInterpretation   != ''">
                #{entryInfoEntity.chineseInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.englishInterpretation != null and entryInfoEntity.englishInterpretation   != ''">
                #{entryInfoEntity.englishInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entrySource != null and entryInfoEntity.entrySource   != ''">
                #{entryInfoEntity.entrySource,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entryState != null and entryInfoEntity.entryState   != ''">
                #{entryInfoEntity.entryState,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.update != null and entryInfoEntity.update   != ''">
                #{entryInfoEntity.update,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.updateTime != null ">
                #{entryInfoEntity.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entryInfoEntity.versionID != null and entryInfoEntity.versionID   != ''">
                #{entryInfoEntity.versionID,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entryLabel != null and entryInfoEntity.entryLabel   != ''">
                #{entryInfoEntity.entryLabel,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.partOfSpeech != null and entryInfoEntity.partOfSpeech   != ''">
                #{entryInfoEntity.partOfSpeech,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.classifyId != null and entryInfoEntity.classifyId   != ''">
                #{entryInfoEntity.classifyId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.remark != null and entryInfoEntity.remark   != ''">
                #{entryInfoEntity.remark,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.taskId != null and entryInfoEntity.taskId   != ''">
                #{entryInfoEntity.taskId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.enTransId != null and entryInfoEntity.enTransId   != ''">
                #{entryInfoEntity.enTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.ruTransId != null and entryInfoEntity.ruTransId   != ''">
                #{entryInfoEntity.ruTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.fraTransId != null and entryInfoEntity.fraTransId   != ''">
                #{entryInfoEntity.fraTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.spaTransId != null and entryInfoEntity.spaTransId   != ''">
                #{entryInfoEntity.spaTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.isPublic != null ">
                #{entryInfoEntity.isPublic,jdbcType=INTEGER},
            </if>
            <if test="entryInfoEntity.isDelete != null ">
                #{entryInfoEntity.isDelete,jdbcType=INTEGER},
            </if>
            <if test="entryInfoEntity.importType != null and entryInfoEntity.importType   != ''">
                #{entryInfoEntity.importType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateEntryInfo">
        update t_entry_info
        <set>

            <if test="entryInfoEntity.abbr != null  and entryInfoEntity.abbr != ''">
                abbr = #{entryInfoEntity.abbr,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entry != null  and entryInfoEntity.entry != ''">
                entry = #{entryInfoEntity.entry,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.chineseInterpretation != null  and entryInfoEntity.chineseInterpretation != ''">
                chinese_interpretation = #{entryInfoEntity.chineseInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.englishInterpretation != null  and entryInfoEntity.englishInterpretation != ''">
                english_interpretation = #{entryInfoEntity.englishInterpretation,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entrySource != null  and entryInfoEntity.entrySource != ''">
                entry_source = #{entryInfoEntity.entrySource,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.entryState != null  and entryInfoEntity.entryState != ''">
                entry_state = #{entryInfoEntity.entryState,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.update != null  and entryInfoEntity.update != ''">
                `update` = #{entryInfoEntity.update,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.updateTime != null  ">
                update_time = #{entryInfoEntity.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entryInfoEntity.entryLabel != null  and entryInfoEntity.entryLabel != ''">
                entry_label = #{entryInfoEntity.entryLabel,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.partOfSpeech != null  and entryInfoEntity.partOfSpeech != ''">
                part_of_speech = #{entryInfoEntity.partOfSpeech,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.remark != null  and entryInfoEntity.remark != ''">
                remark = #{entryInfoEntity.remark,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.spaTransId != null ">
                spa_trans_id = #{entryInfoEntity.spaTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.fraTransId != null  ">
                fra_trans_id = #{entryInfoEntity.fraTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.ruTransId != null ">
                ru_trans_id = #{entryInfoEntity.ruTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.enTransId != null  ">
                en_trans_id = #{entryInfoEntity.enTransId,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.classfy1 != null  ">
                classfy1 = #{entryInfoEntity.classfy1,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.classfy2 != null  ">
                classfy2 = #{entryInfoEntity.classfy2,jdbcType=VARCHAR},
            </if>
            <if test="entryInfoEntity.tag != null  ">
                tag = #{entryInfoEntity.tag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{entryInfoEntity.id,jdbcType=VARCHAR}
    </update>
    <select id="selectEntryById" resultMap="BaseResultMap">
        select  distinct t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
        from ( t_product_relation t1  right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0
        <if test="entryInfoEntity.id != null and entryInfoEntity.id   != ''">
            and t2.id = #{entryInfoEntity.id,jdbcType=VARCHAR}
        </if>

    </select>

    <update id="deleteByIdList">
        update ${tableName} set is_delete = 1 where id in(
        <foreach collection="idList" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </update>

    <update id="deleteByProductIdList">
        update t_entry_info set is_delete = 1 where product_id in(
        <foreach collection="idList" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </update>

    <select id="getEntryByTaskID" resultMap="BaseResultMap">
           select t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
        from ( t_product_relation t1 right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0 and  t1.task_id =  #{id,jdbcType=VARCHAR}

    </select>


        <select id="getWriteEntryByTaskID" resultMap="BaseResultMap">
           select t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
        from ( t_product_relation t1 right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0 and t2.entry_state = 3  and t3.translate_state = 3   and      t1.task_id =  #{id,jdbcType=VARCHAR}


    </select>




    <select id="getEntryByTaskIDAndEntry" resultMap="BaseResultMap">
           select t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
        from ( t_product_relation t1 right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0 and  t1.task_id =  #{id,jdbcType=VARCHAR}
        <if test="entryState != null  and entryState != ''">
            and t2.entry_state =   #{entryState,jdbcType=VARCHAR}
        </if>

        <if test="entry != null  and entry != ''">
            and   t2.entry =  #{entry,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getEntryByVersionID" resultMap="BaseResultMap">
        select t2.*,
        t3.translate as english,t3.translate_state as englishTranslateState,t3.public_state as englishPublicState,
        t6.translate as russian,t6.translate_state as russianTranslateState,t6.public_state as russianPublicState,
        t4.translate as french,t4.translate_state as frenchTranslateState,t4.public_state as frenchPublicState,
        t5.translate as spanish,t5.translate_state as spanishTranslateState,t5.public_state as spanishPublicState
        from ( t_product_relation t1 right join  t_entry_info t2 on t1.entry_id = t2.id)
        left JOIN t_translate t3 ON t2.en_trans_id = t3.id
        left JOIN t_translate t6 ON t2.ru_trans_id = t6.id
        left JOIN t_translate t4 ON t2.fra_trans_id = t4.id
        left JOIN t_translate t5 ON t2.spa_trans_id = t5.id
        where  t2.is_delete = 0 and  t1.version_id =  #{versionID,jdbcType=VARCHAR}

    </select>

    <select id="getExistEntryList" resultMap="BaseResultMap">
        select   <include refid="Base_Column_List"/>
        from ${productTableName}
        where is_delete =0     and  entry = #{entryInfoEntity.entry,jdbcType=VARCHAR} and product_id =#{entryInfoEntity.productID,jdbcType=VARCHAR}
        <if test="entryInfoEntity.abbr != null  and entryInfoEntity.abbr != ''">
          and  abbr = #{entryInfoEntity.abbr,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getLastVersionNum" resultType="integer">
        select max(entry_version)  from t_entry_info  where is_delete =0 and entry_version_type = #{entryInfoEntity.entryVersionID,jdbcType=VARCHAR}

        and  product_id =  #{entryInfoEntity.productID,jdbcType=VARCHAR}


    </select>

    <select id="getTransStateEntry" parameterType="string" resultMap="BaseResultMap">
    ${sql}
    </select>


    <select id="getEntryInfo" parameterType="string" resultMap="BaseResultMap">
        select t2.*,
        en.translate as english,en.translate_state as englishTranslateState,en.public_state as englishPublicState,
        ru.translate as russian,ru.translate_state as russianTranslateState,ru.public_state as russianPublicState,
        fra.translate as french,fra.translate_state as frenchTranslateState,fra.public_state as frenchPublicState,
        spa.translate as spanish,spa.translate_state as spanishTranslateState,spa.public_state as spanishPublicState from
        t_product_relation t1 right JOIN t_entry_info t2  on t1.entry_id = t2.id
        left join t_translate en  on t2.en_trans_id = en.id
        <if test="entryInfoEntity.englishTranslateState != null  ">
            and  en.translate_state =  #{entryInfoEntity.englishTranslateState,jdbcType=VARCHAR}
        </if>
        left join t_translate ru  on t2.ru_trans_id = ru.id
        <if test="entryInfoEntity.englishTranslateState != null  ">
            and  ru.translate_state =  #{entryInfoEntity.russianTranslateState,jdbcType=VARCHAR}
        </if>
        left join t_translate fra  on t2.fra_trans_id = fra.id
        <if test="entryInfoEntity.englishTranslateState != null  ">
            and  fra.translate_state =  #{entryInfoEntity.frenchTranslateState,jdbcType=VARCHAR}
        </if>
        left join t_translate spa  on t2.spa_trans_id = spa.id
        <if test="entryInfoEntity.englishTranslateState != null  ">
            and  spa.translate_state =  #{entryInfoEntity.spanishTranslateState,jdbcType=VARCHAR}
        </if>



        where  t2.is_delete = 0
        <if test="entryInfoEntity.classfy1 != null  ">
            and t2.classfy1 = #{entryInfoEntity.classfy1,jdbcType=VARCHAR},
        </if>
        <if test="entryInfoEntity.classfy2 != null  ">
           and  t2.classfy2 = #{entryInfoEntity.classfy2,jdbcType=VARCHAR},
        </if>
        <if test="entryInfoEntity.versionID != null  ">
            and  t1.version_id =  #{entryInfoEntity.versionID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.productID != null  ">
            and  t2.product_id =  #{entryInfoEntity.productID,jdbcType=VARCHAR}
        </if>
        <if test="entryInfoEntity.taskId != null  ">
            and  t1.task_id =  #{entryInfoEntity.taskId,jdbcType=VARCHAR}
        </if>

    </select>
</mapper>
