<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryOperateMapper">
  <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryOperate">
    <!--@mbg.generated-->
    <!--@Table t_menu-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="VARCHAR" property="operateTime" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="entry_id" jdbcType="VARCHAR" property="entryId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, operator, operateTime, operateContent, entryId, notes ,`type`
  </sql>

<select id="selectByEntryId" parameterType="String" resultType="com.shr.translationtoolservice.entity.EntryOperate">
    select  <include refid="Base_Column_List" />
    from t_entry_operate where entry_id =   #{entryId,jdbcType=VARCHAR}
</select>


  <select id="selectListByOperate" parameterType="com.shr.translationtoolservice.entity.EntryOperate" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from t_entry_operate where 1=1


    <if test="entryOperate.entryId != null and eentryOperate.entryId != ''">
      and  entry_id =   #{entryOperate.entryId,jdbcType=VARCHAR}
    </if>
    <if test="entryOperate.operator != null and eentryOperate.operator != ''">
      and  operator =   #{entryOperate.operator,jdbcType=VARCHAR}
    </if>
    <if test="entryOperate.operator != null and eentryOperate.operator != ''">
      and  operator =   #{entryOperate.operator,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>