<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryClassifyMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryClassify">
        <id property="key" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="title" column="name" jdbcType="VARCHAR"/>
        <result property="index" column="index" jdbcType="INTEGER"/>
        <result property="maxByte" column="max_byte" jdbcType="INTEGER"/>
        <result property="foreignMaxByte" column="foreign_max_byte" jdbcType="INTEGER"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,parent_id,`name`,`type`,
        `index`,max_byte,foreign_max_byte,department,creator, DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') as create_time,is_delete
    </sql>

    <select id="getEntryClassfyIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify   where is_delete = 0

    </select>
    <select id="getEntryClassfyById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify
        where is_delete = 0 and id =  #{classifyId,jdbcType=VARCHAR}

    </select>
    <select id="getEntryClassfyIdsByDepartment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify
        <where>
            is_delete = 0
            <if test="department != null  and department != ''">
                and  department = #{department,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getEntryClassfyByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify where is_delete = 0 and id in (
        <foreach collection="classfies" item="classfy" index="index" separator=",">
        #{classfy,jdbcType=VARCHAR}
    </foreach>
    )

    </select>

    <select id="getEntryClassfyByNames" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify where is_delete = 0 and name in (
        <foreach collection="classfies" item="classfy" index="index" separator=",">
            #{classfy,jdbcType=VARCHAR}
        </foreach>
        )

    </select>



    <select id="getEntryClassfyByParentId" parameterType="arraylist" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify
        where is_delete = 0 and parent_id in (

        <foreach collection="ids" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        )
    </select>

    <select id="getParentClassfyById" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify
        where is_delete = 0 and parent_id =    #{id,jdbcType=VARCHAR}
    </select>



    <select id="selectByParentId" resultType="com.shr.translationtoolservice.entity.EntryClassify">
        select      id `key`,parent_id,`name` `title`,
        `index`
        from t_entry_classify where is_delete = 0 and id =  #{parentId,jdbcType=VARCHAR}

    </select>
    <select id="selectClassfyById" resultType="com.shr.translationtoolservice.entity.EntryClassify">
        select       id `key`,parent_id,`name` `title`,
        `index`
        from t_entry_classify where is_delete = 0 and id =  #{id,jdbcType=VARCHAR}

    </select>
    <insert id="insertClassfy" parameterType="com.shr.translationtoolservice.entity.EntryClassify">
        INSERT INTO t_entry_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entryClassify.key != null">
                id,
            </if>
            <if test="entryClassify.parentId != null">
                parent_id,
            </if>
            <if test="entryClassify.title != null">
                `name`,
            </if>
            <if test="entryClassify.index != null">
                `index`,
            </if>
            <if test="entryClassify.maxByte != null">
                `max_byte`,
            </if>
            <if test="entryClassify.foreignMaxByte != null">
                `foreign_max_byte`,
            </if>
            <if test="entryClassify.department != null">
                `department`,
            </if>
            <if test="entryClassify.creator != null">
                `creator`,
            </if>
            <if test="entryClassify.createTime != null">
                `create_time`,
            </if>
            <if test="entryClassify.type != null">
                `type`,
            </if>
            <if test="entryClassify.isDelete != null">
                `is_delete`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entryClassify.key != null">
                #{entryClassify.key,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.parentId != null">
                #{entryClassify.parentId,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.title != null">
                #{entryClassify.title,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.index != null">
                #{entryClassify.index,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.maxByte != null">
                #{entryClassify.maxByte,jdbcType=INTEGER},
            </if>
            <if test="entryClassify.foreignMaxByte != null">
                #{entryClassify.foreignMaxByte,jdbcType=INTEGER},
            </if>
            <if test="entryClassify.department != null">
                #{entryClassify.department,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.creator != null">
                #{entryClassify.creator,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.createTime != null">
                #{entryClassify.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entryClassify.type != null">
                #{entryClassify.type,jdbcType=TIMESTAMP},
            </if>
            <if test="entryClassify.isDelete != null">
                #{entryClassify.isDelete,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteByIds" parameterType="arraylist">
        DELETE FROM t_entry_classify WHERE id in(
        <foreach collection="list" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </delete>


    <update id="updateClassfyById" parameterType="com.shr.translationtoolservice.entity.EntryClassify">
        update t_entry_classify
        <set>

            <if test="entryClassify.parentId != null  and entryClassify.parentId != ''">
                parent_id = #{entryClassify.parentId ,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.index != null  and entryClassify.index != ''">
                `index` = #{entryClassify.index,jdbcType=INTEGER},
            </if>
            <if test="entryClassify.title != null  and entryClassify.title != ''">
                `name` = #{entryClassify.title ,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.maxByte != null  and entryClassify.maxByte != ''">
                `max_byte` = #{entryClassify.maxByte ,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.foreignMaxByte != null">
                foreign_max_byte = #{entryClassify.foreignMaxByte,jdbcType=INTEGER}
            </if>

        </set>
        where id = #{entryClassify.key ,jdbcType=VARCHAR}
    </update>
    <select id="getParentClassify" resultMap="BaseResultMap">
        WITH RECURSIVE parent AS (
            SELECT * FROM t_entry_classify
            <where>
                is_delete = 0
                <if test="department != null  and department != ''">
                    and department  #{department,jdbcType=VARCHAR}
                </if>
                <if test="className != null  and className != ''">
                    and name  like CONCAT('%',#{className,jdbcType=VARCHAR},'%')
                </if>
            </where>
            UNION
            SELECT tt.* FROM t_entry_classify tt JOIN parent ON tt.`id` = parent.parent_id and  tt.is_delete = 0
        )
        SELECT * FROM parent;
    </select>
    <select id="getChildClassify" resultMap="BaseResultMap">
        WITH RECURSIVE child AS (
            SELECT * FROM t_entry_classify
            <where>
                is_delete = 0
                <if test="department != null  and department != ''">
                    and department = #{department,jdbcType=VARCHAR}
                </if>
                <if test="className != null  and className != ''">
                    and name like  CONCAT('%',#{className,jdbcType=VARCHAR},'%')
                </if>
            </where>
            UNION
            SELECT tt.* FROM t_entry_classify tt JOIN child ON tt.parent_id = child.id and tt.is_delete = 0
        )
        SELECT * FROM child
    </select>

    <select id="getClassfy" resultMap="BaseResultMap">
        SELECT  `id` ,`type`,parent_id,`name` ,`index`,`max_byte`,`foreign_max_byte`,`department`,`creator`,`create_time`
        FROM t_entry_classify     WHERE  is_delete = 0
        <if test="entryClassify.parentId != null  and entryClassify.parentId != ''">
           and parent_id = #{entryClassify.parentId ,jdbcType=VARCHAR}
        </if>
        <if test="entryClassify.index != null  and entryClassify.index != ''">
            and `index` = #{entryClassify.index,jdbcType=INTEGER}
        </if>
        <if test="entryClassify.title != null  and entryClassify.title != ''">
            and `name` = #{entryClassify.title ,jdbcType=VARCHAR}
        </if>
        <if test="entryClassify.maxByte != null  and entryClassify.maxByte != ''">
            and `max_byte` = #{entryClassify.maxByte ,jdbcType=VARCHAR}
        </if>
        <if test="entryClassify.type != null  and entryClassify.type != ''">
            and `type` = #{entryClassify.type ,jdbcType=VARCHAR}
        </if>
    </select>

    <update id="deleteList">
        update t_entry_classify set is_delete = 1 where id in(
        <foreach collection="idList" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </update>
</mapper>
