<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.EntryClassifyMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.EntryClassify">
        <id property="key" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="title" column="name" jdbcType="VARCHAR"/>
        <result property="index" column="index" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,parent_id,`name`,
        `index`
    </sql>

    <select id="getEntryClassfyByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_entry_classify

    </select>

    <select id="selectByParentId" resultType="com.shr.translationtoolservice.entity.EntryClassify">
        select    id `key`,parent_id,`name` `title`,
        `index`
        from t_entry_classify where id =  #{parentId,jdbcType=VARCHAR}

    </select>

    <insert id="insert" parameterType="com.shr.translationtoolservice.entity.EntryClassify">
        INSERT INTO t_entry_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entryClassify.key != null">
                id,
            </if>
            <if test="entryClassify.parentId != null">
                parent_id,
            </if>
            <if test="entryClassify.title != null">
                `name`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entryClassify.key != null">
                #{entryClassify.key,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.parentId != null">
                #{entryClassify.parentId,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.title != null">
                #{entryClassify.title,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByIds" parameterType="arraylist">
        DELETE FROM t_entry_classify WHERE id in(
        <foreach collection="list" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        );
    </delete>


    <update id="updateById" parameterType="com.shr.translationtoolservice.entity.EntryClassify">
        update t_entry_classify
        <set>

            <if test="entryClassify.parentId != null  and entryClassify.parentId != ''">
                parent_id = #{entryClassify.parentId ,jdbcType=VARCHAR},
            </if>
            <if test="entryClassify.index != null  and entryClassify.index != ''">
                `index` = #{entryClassify.index,jdbcType=INTEGER},
            </if>
            <if test="entryClassify.title != null  and entryClassify.title != ''">
                `name` = #{entryClassify.title ,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{entryClassify.key ,jdbcType=VARCHAR}
    </update>
</mapper>
