<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.Role">
    <!--@mbg.generated-->
    <!--@Table t_role-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, `describe`, is_default
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getRoleIDByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from t_role

    <if test="roleName != null and roleName != ''">
      where
      role_name= #{roleName,jdbcType=VARCHAR}
    </if>
    <if test="limit >= 0 and offset >= 0">
      LIMIT #{limit} OFFSET #{offset}
    </if>
  </select>
  <select id="getRoleTotaNum" parameterType="java.lang.String" resultType="int">
    <!--@mbg.generated-->
    select count(1)
    from t_role

    <if test="roleName != null and roleName != ''">
      where
      role_name= #{roleName,jdbcType=VARCHAR}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shr.translationtoolservice.entity.Role">
    <!--@mbg.generated-->
    insert into t_role (id, role_name, `describe`, 
      is_default)
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shr.translationtoolservice.entity.Role">
    <!--@mbg.generated-->
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shr.translationtoolservice.entity.Role">
    <!--@mbg.generated-->
    update t_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shr.translationtoolservice.entity.Role">
    <!--@mbg.generated-->
    update t_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getRoleByDefault" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_role
    where is_default = 1
  </select>
</mapper>