<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.RoleAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.RoleAuthorityEntry">
        <!--@mbg.generated-->
        <!--@Table t_authority-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="authority_id" jdbcType="VARCHAR" property="authorityId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, role_id, authority_id
    </sql>

    <insert id="bindPermission" parameterType="java.lang.String">
         insert into t_role_authority (role_id, authority_id)
         values (#{roleID,jdbcType=VARCHAR},#{authID,jdbcType=VARCHAR})
    </insert>

    <select id="selectPermiss" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,role_id , authority_id from t_role_authority where role_id =  #{roleID,jdbcType=VARCHAR}
    </select>


    <select id="checkPermiss" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,role_id , authority_id from t_role_authority where role_id =  #{roleID,jdbcType=VARCHAR} and authority_id=  #{authority_id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteAuthorityByID" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from t_role_authority
        where role_id = #{roleId,jdbcType=VARCHAR}
    </delete>

</mapper>