<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.UserProductMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.UserProductEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="read" column="read" jdbcType="INTEGER"/>
        <result property="write" column="write" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        `read`,`write`
    </sql>

    <select id="getPermissionByNameAndDepartment" resultType="com.shr.translationtoolservice.entity.UserProductEntity">
        select t2.user_name as user_name , t2.id as user_id ,t2.department = department , t1.product_id as
        product_id,t1.read as `read`,t1.write as `write`
        from t_user_product t1,t_user t2
        where t1.user_id = t2.id
        <if test="name != null and name !='' ">
            and t2.user_name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="department != null and department !='' ">
            and t2.department = #{department,jdbcType=VARCHAR}
        </if>
    </select>



</mapper>
