<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_number" jdbcType="VARCHAR" property="jobNumber" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <resultMap id="BaseConfigResUserMap" type="com.shr.translationtoolservice.entity.ConfigResUser">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
    <result column="department" jdbcType="VARCHAR" property="department"/>
    <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, job_number, department, role_id
  </sql>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shr.translationtoolservice.entity.User">
    <!--@mbg.generated-->
    insert into t_user (id, user_name, job_number, 
      department, role_id)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{jobNumber,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shr.translationtoolservice.entity.User">
    <!--@mbg.generated-->
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="jobNumber != null">
        job_number,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="jobNumber != null">
        #{jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shr.translationtoolservice.entity.User">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="jobNumber != null">
        job_number = #{jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shr.translationtoolservice.entity.User">
    <!--@mbg.generated-->
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      job_number = #{jobNumber,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>



  <select id="querUser" resultMap="BaseConfigResUserMap">
    select t1.id,t1.user_name ,t1.job_number ,t1.department ,t2.role_name ,t2.describe,t2.is_default ,t1.role_id
    from t_user t1 join t_role t2 on 1=1
    <if test="user.userName != null and user.userName != ''">
      and
      user_name= #{user.userName,jdbcType=VARCHAR}
    </if>
    <if test="user.jobNumber != null and user.jobNumber != ''">
      and
      job_number= #{user.jobNumber,jdbcType=VARCHAR}
    </if>
    <if test="user.department != null and user.department != ''">
      and
      department= #{user.department,jdbcType=VARCHAR}
    </if>
    <if test="user.roleId != null and user.roleId != ''">
      and

      role_id= #{user.roleId,jdbcType=VARCHAR}

    </if>
    and
    t1.role_id=t2.id

  </select>


  <delete id="deleteUserInfoByList" parameterType="java.util.List">
    DELETE FROM t_user WHERE id in(
    <foreach collection="list" item="idList" index="index" separator=",">
      #{idList,jdbcType=VARCHAR}
    </foreach>
    );
  </delete>

  <update id="updateUserInfo" parameterType="com.shr.translationtoolservice.entity.ConfigResUser">
    <!--@mbg.generated-->
    update t_user
    <set>

      <if test="user.userName != null and user.userName != ''">

        user_name= #{user.userName,jdbcType=VARCHAR},
      </if>
      <if test="user.jobNumber != null and user.jobNumber != ''">

        job_number= #{user.jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="user.department != null and user.department != ''">
        department= #{user.department,jdbcType=VARCHAR},
      </if>
      <if test="user.roleName != null and user.roleName != ''">

        role_id= (select t2.id from t_role t2 where t2.role_name= #{user.roleName,jdbcType=VARCHAR}),
      </if>
    </set>
    where id = #{user.id,jdbcType=VARCHAR}
  </update>



  <select id="queryRoleInfo" resultMap="BaseResultMap">
    select t1.id,t1.user_name ,t1.job_number ,t1.department ,t2.role_name ,t2.describe,t2.is_default ,t1.role_id
    from t_user t1 join t_role t2 on 1=1
    <if test="user.userName != null and user.userName != ''">
      and
      user_name= #{user.userName,jdbcType=VARCHAR}
    </if>
    <if test="user.jobNumber != null and user.jobNumber != ''">
      and
      job_number= #{user.jobNumber,jdbcType=VARCHAR}
    </if>
    <if test="user.department != null and user.department != ''">
      and
      department= #{user.department,jdbcType=VARCHAR}
    </if>
    <if test="user.roleId != null and user.roleId != ''">
      and

      role_id= #{user.roleId,jdbcType=VARCHAR}

    </if>
    and
    t1.role_id=t2.id

  </select>
</mapper>