<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.UserPartialityMapper">
    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.UserPartiality">
        <!--@mbg.generated-->
        <!--@Table t_user_partiality-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="display_column" jdbcType="VARCHAR" property="displayColumn"/>
        <result column="export_column" jdbcType="VARCHAR" property="exportColumn"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, display_column, export_column, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_user_partiality
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from t_user_partiality
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.shr.translationtoolservice.entity.UserPartiality">
        <!--@mbg.generated-->
        insert into t_user_partiality (id, user_name, display_column,
                                       export_column, update_time)
        values (#{record.id,jdbcType=VARCHAR}, #{record.userName,jdbcType=VARCHAR},
                #{record.displayColumn,jdbcType=VARCHAR},
                #{record.exportColumn,jdbcType=VARCHAR}, #{record.updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.shr.translationtoolservice.entity.UserPartiality">
        <!--@mbg.generated-->
        insert into t_user_partiality
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="displayColumn != null">
                display_column,
            </if>
            <if test="exportColumn != null">
                export_column,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="displayColumn != null">
                #{displayColumn,jdbcType=VARCHAR},
            </if>
            <if test="exportColumn != null">
                #{exportColumn,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shr.translationtoolservice.entity.UserPartiality">
        <!--@mbg.generated-->
        update t_user_partiality
        <set>
            <if test="record.userName != null and record.userName != ''">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.displayColumn != null and record.displayColumn != ''">
                display_column = #{record.displayColumn,jdbcType=VARCHAR},
            </if>
            <if test="record.exportColumn != null and record.exportColumn != ''">
                export_column = #{record.exportColumn,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{record.id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shr.translationtoolservice.entity.UserPartiality">
        <!--@mbg.generated-->
        update t_user_partiality
        set user_name      = #{userName,jdbcType=VARCHAR},
            display_column = #{displayColumn,jdbcType=VARCHAR},
            export_column  = #{exportColumn,jdbcType=VARCHAR},
            update_time    = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from t_user_partiality
        <where>
            <if test="userPartiality.userName != null and userPartiality.userName != ''">
                user_name = #{userPartiality.userName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>