<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shr.translationtoolservice.dao.VersionTableMapper">

    <resultMap id="BaseResultMap" type="com.shr.translationtoolservice.entity.VersionTableEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="versionTableName" column="version_table_name" jdbcType="VARCHAR"/>
        <result property="versionId" column="version_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,version_table_name,
        version_id
    </sql>


    <resultMap id="BaseResultMap1" type="com.shr.translationtoolservice.entity.EntryInfoEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="abbr" column="abbr" jdbcType="VARCHAR"/>
        <result property="entry" column="entry" jdbcType="VARCHAR"/>
        <result property="entryLength" column="entry_length" jdbcType="INTEGER"/>
        <result property="chineseInterpretation" column="chinese_interpretation" jdbcType="VARCHAR"/>
        <result property="englishInterpretation" column="english_interpretation" jdbcType="VARCHAR"/>
        <result property="entrySource" column="entry_source" jdbcType="VARCHAR"/>
        <result property="entryState" column="entry_state" jdbcType="VARCHAR"/>
        <result property="update" column="update" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="versionID" column="version_id" jdbcType="VARCHAR"/>
        <result property="entryLabel" column="entry_label" jdbcType="VARCHAR"/>
        <result property="partOfSpeech" column="part_of_speech" jdbcType="VARCHAR"/>
        <result property="classifyId" column="classify_id" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="enTransId" column="en_trans_id" jdbcType="VARCHAR"/>
        <result property="ruTransId" column="ru_trans_id" jdbcType="VARCHAR"/>
        <result property="fraTransId" column="fra_rtans_id" jdbcType="VARCHAR"/>
        <result property="spaTransId" column="spa_trans_id" jdbcType="VARCHAR"/>
        <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="importType" column="import_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List1">
        id,abbr,entry,
        entry_length,chinese_interpretation,english_interpretation,
        entry_source,entry_state,`update`,
        update_time,version,entry_label,
        part_of_speech,classify_id,remark,
        task_id,en_trans_id,ru_trans_id,
        fra_rtans_id,spa_trans_id,is_public,
        is_delete,import_type
    </sql>


    <select id="getByTableName" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version_table
        where 1=1 and
        <if test="tableName != null and tableName != '' ">
            version_table_name = #{tableName,jdbcType=VARCHAR},
        </if>
    </select>

    <select id="existTable" parameterType="String" resultType="Integer">
        select count(*)
        from information_schema.TABLES
        where LCASE(table_name)=#{tableName}
    </select>


    <insert id="addVersionTable" parameterType="com.shr.translationtoolservice.entity.VersionTableEntity">
        insert into t_version_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="versionTable.id != null">
                id,
            </if>
            <if test="versionTable.versionTableName != null">
                version_table_name,
            </if>
            <if test="versionTable.versionId != null">
                version_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="versionTable.id != null">
                #{versionTable.id,jdbcType=VARCHAR},
            </if>
            <if test="versionTable.versionTableName != null">
                #{versionTable.versionTableName,jdbcType=VARCHAR},
            </if>
            <if test="versionTable.versionId != null">
                #{versionTable.versionId,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>


    <update id="createVersionTable" parameterType="String">
        CREATE TABLE IF NOT EXISTS   ${tableName}  (
`id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL COMMENT '主键',
  `abbr` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT 'abbr',
  `entry` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词条',
  `entry_length` int NULL DEFAULT NULL,
  `chinese_interpretation` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '中文释义',
  `english_interpretation` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '英文释义',
  `entry_source` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词条来源',
  `entry_state` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词条状态',
  `update` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '修改人',
  `update_time` datetime NULL DEFAULT NULL COMMENT '修改时间',
  `version_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '版本id',
  `entry_label` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词条标签',
  `part_of_speech` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词性备注',
  `classify_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '词条所属分类',
  `remark` varchar(32) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '备注',
  `task_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '任务id',
  `en_trans_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '英文翻译id',
  `ru_trans_id` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '俄文翻译id',
  `fra_trans_id` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '法文翻译id',
  `spa_trans_id` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '西文翻译id',
  `is_public` int NULL DEFAULT NULL COMMENT '公共库（0否 1是）',
  `is_delete` int NULL DEFAULT NULL COMMENT '删除状态（0否 1是）',
    `import_type` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL COMMENT '导入类型',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb3 COLLATE = utf8mb3_general_ci COMMENT = '词条版本表' ROW_FORMAT = DYNAMIC;
    </update>


    <select id="getVersionTable" parameterType="String" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from
        ${tableName}
        where version_table = #{version,jdbcType=VARCHAR}
        <if test="department != null and department != ''">
           and  #{department,jdbcType=VARCHAR},
        </if>
        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>

    </select>

    <select id="getAllVersionTable" parameterType="String" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from
        ${tableName}
        where version_table = #{version,jdbcType=VARCHAR}

    </select>

    <select id="getVersionTableTotal" parameterType="String" resultType="integer">
        select count(1) from
        ${tableName}
        where version_table =   #{version,jdbcType=VARCHAR}
    </select>


    <select id="getVersionInfoByVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version_table
        <if test="version !=null and version != ''">
            where version_id = #{versionID,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getVersionInfoByVersionID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version_table
        <if test="version !=null and version != ''">
            where version_id = #{versionID,jdbcType=VARCHAR}
        </if>

    </select>
    <select id="getReVersionTableByName" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from
        ${tableName} where version = #{version,jdbcType=VARCHAR}

        <if test="versionEntity.abbr != null or versionEntity.abbr != ''">
            and abbr in (
            <foreach collection="entryEntities" item="entryEntity" index="index" separator=",">
                #{entryEntity.abbr,jdbcType=VARCHAR}
            </foreach>
            )
        </if>
        <if test="versionEntity.chinese != null or versionEntity.chinese != ''">
            and chinese in (
            <foreach collection="entryEntities" item="entryEntity" index="index" separator=",">
                #{entryEntity.chinese,jdbcType=VARCHAR}
            </foreach>
            )
        </if>

    </select>
    <select id="getVersionTableByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version_table
        <where>
            <if test="versionTable.version !=null and versionTable.version != ''">
                and version like CONCAT('%','${versionTable.version}','%' )
            </if>
            <if test="versionTable.department !=null and versionTable.department != ''">
                and department = #{versionTable.department,jdbcType=VARCHAR}
            </if>
            <if test="versionTable.creator !=null and versionTable.creator != ''">
                and department = #{versionTable.creator,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="limit >= 0 and offset >= 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    <select id="getTotalByCondition" resultType="java.lang.Integer">
        select count(1) from t_version_table
        <where>
            <if test="versionTable.version !=null and versionTable.version != ''">
                and version like CONCAT('%','${versionTable.version}','%' )
            </if>
            <if test="versionTable.department !=null and versionTable.department != ''">
                and department = #{versionTable.department,jdbcType=VARCHAR}
            </if>
            <if test="versionTable.creator !=null and versionTable.creator != ''">
                and department = #{versionTable.creator,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="getVersionTableByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version_table
        <where>
            <if test="ids != null and ids.size() != 0">
                id in (
                <foreach collection="ids" item="id" index="index" separator=",">
                    #{id,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
    </select>
    <delete id="deleteEntryByVersion" parameterType="String">
        delete from ${tableName} where version_table = #{version}
    </delete>
</mapper>
